<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="form-title">New Blog</h1>
    <form method="post" action="{% url 'save' %}">
        {% csrf_token %}

        <label for="title" class="input-label">Title</label>
        <input type="text" id="title" name="title" required class="input-box">
        <br><br>         

        <label for="author" class="input-label">Author </label>
        <input type="text" id="author" name="author" required class="input-box">
        <br><br>
                
        <label for="date" class="input-label">Date</label>
        <input type="date" id="date" name="date" required class="input-box">
        <br><br>

        <label for="content" class="input-label">Content</label>
        <input type="text" id="content" name="content" required class="input-box">
        <br><br>

        <input type="submit" class="submit-btn" value="Submit">
    </form>
</body>
</html>